.newsletter__wrapper {
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.newsletter__wrapper>* {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__heading {
  line-height: 0.87;
  margin: 0 0 .8rem;
  color: #F2EEE4;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  color: #F2EEE4;
}

.newsletter__form {
  width: 100%;
  margin-top: 1.2rem;
}
.newsletter__form .kl-private-reset-css-Xuajs1[type=email] {
  padding-left: 10px !important; 
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

.newsletter__form .kl-private-reset-css-Xuajs1 {
  min-height: 0 !important;
}

.newsletter__form .kl-private-reset-css-Xuajs1[type="email"],
.newsletter__form .kl-private-reset-css-Xuajs1[data-testid="form-component"],
.newsletter__form form.kl-private-reset-css-Xuajs1 {
  background-color: white !important;
}

.newsletter__form input[type="email"] {
  padding: 0 !important;
  height: 5.6rem !important;
  border: 0 !important;
  border-bottom: solid 0.2rem rgb(var(--color-foreground)) !important;
  font-family: var(--font-heading-family) !important;
  font-size: 2rem !important;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  color: rgb(var(--color-foreground)) !important;
}

.newsletter__form input[type="email"]::placeholder {
  opacity: 1 !important;
  color: rgb(var(--color-foreground)) !important;
}

.newsletter__form button[type="button"] {
  font-size: 1.5rem !important;
  letter-spacing: .1rem !important;
  line-height: calc(1 + .2 / var(--font-body-scale)) !important;
  background-color: rgb(var(--color-button));
  color: rgb(var(--color-button-text));
  border-color: rgb(var(--color-button));
  transition: opacity 0.2s ease;
}

.newsletter__form button[type="button"]:hover {
  opacity: 0.9;
}


footer .dark-mode-newsletter span.ql-font-poppins,
footer .dark-mode-newsletter .go2939287685.go2939287685.go2939287685 {
  color: white !important;
}

.dark-mode-newsletter .newsletter__form .kl-private-reset-css-Xuajs1[data-testid="form-component"],
.dark-mode-newsletter .newsletter__form form.kl-private-reset-css-Xuajs1 {
  background-color: transparent !important;
}

.dark-mode-newsletter .go319037497.go319037497.go319037497 {
  border: 1px solid #fff !important;
  transition: background-color 0.2s ease;
}

.dark-mode-newsletter .go319037497.go319037497.go319037497:hover {
  background-color: rgba(255, 255, 255, 1) !important;
  color: black !important;
}

.go258608705[type='email'] {
  padding-left: 10px !important;
}

footer form[data-testid="klaviyo-form-XGcjVD"] input[type="email"] {
  padding: 0 10px !important;
}

footer .dark-mode-newsletter form.klaviyo-form {
  padding: 0 0 20px 0 !important;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }

  .newsletter__wrapper>* {
    max-width: 66rem;
  }
}

@media screen and (max-width: 500px) {
  footer .newsletter__subheading {
    margin-bottom: 10px;
  }

  footer .go2151320816.go2151320816.go2151320816 {
    padding-top: 25px;
  }
}