.product-recommendations {
  display: block;
}

.product-recommendations .collection__title {
  margin-bottom: 1.9rem
}

.product-recommendations .collection__title .title {
  font-size: 3.2rem;
  line-height: 1;
  margin: 0;
}

@media screen and (min-width: 750px) {
  .product-recommendations .collection__title .title {
    font-size: calc(var(--grid-desktop-vertical-spacing) * 2)
  }

  .product-recommendations .collection__title {
    margin-bottom: calc(var(--grid-desktop-vertical-spacing) * 2)
  }
}

@media screen and (max-width: 749px) {
  .product-recommendations .grid--peek .grid__item {
    min-width: calc(100% - 12rem);
  }
}